{% extends 'api/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h3>Cadastro de Cliente</h3>
    
    <form method="get">
        <div class="container">
            <div class="form-group row mt-5 ">
                <label for="inputCep" class="col-sm-2 col-form-label">CEP</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="cepHelp" name="inputcep" type="submit">
                    <small id="cepHelp" class="form-text text-muted">digite seu cep para buscar as informações.</small>
                </div>
                <button type="submit" class="btn btn-primary">procurar</button>
            </div>
            
        </div>
        
    </form>

    
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.nome|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-6">
                {% if cep %}
                {{ form.cep | as_crispy_field }}
                {% endif %}
            </div>
            <div class="col-6">
                {{ form.rua|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.complemento|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.bairro|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.uf|as_crispy_field }}
            </div>
        </div>
        
        
        <button type="submit" class="btn btn-success">Save</button>
    </form>

    {% if cep %}
    <p>{{ cep.cep }}</p>
    <p>{{ cep.bairro }}</p>
    {% endif %}

</div>


{% endblock %}